body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0 !important; /* stops mui from adding padding when opening a modal */
  height: 100%;
}

html {
  overflow-y: scroll !important; /* always show the scrollbar so the page doesn't shift */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

@font-face {
  font-family: 'Figtree';
  src: local("Figtree"), url(./fonts/figtree/Figtree-Black.woff2) format('woff2');
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'Figtree';
  src: local("Figtree"), url(./fonts/figtree/Figtree-ExtraBold.woff2) format('woff2');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'Figtree';
  src: local("Figtree"), url(./fonts/figtree/Figtree-Bold.woff2) format('woff2');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Figtree';
  src: local("Figtree"), url(./fonts/figtree/Figtree-Medium.woff2) format('woff2');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Figtree';
  src: local("Figtree"), url(./fonts/figtree/Figtree-Regular.woff2) format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Figtree';
  src: local("Figtree"), url(./fonts/figtree/Figtree-Light.woff2) format('woff2');
  font-style: normal;
  font-weight: 300;
}